<div class="clearfix card-y">
  <a href="{{ include.post.url }}">
  <div class="col-30">
    {% if include.post.image %}
    <img src="{{ include.post.image }}" alt="{{ include.post.title }}">
    {% else %}
    <img src="/assets/images/iwananotebook.png" alt="{{ include.post.title }}">
    {% endif %}
  </div>
  <div class="col-70">
    <p class="card-y-title">{{ include.post.title }}</p>
    <p class="card-y-description">{{ include.post.description }}</p>
    {% if include.post.last_modified_at %}
    <p class="card-y-date">{{ include.post.last_modified_at | date:"%Y年%-m月%-d日" }}</p>
    {% else %}
    <p class="card-y-date">{{ include.post.date | date:"%Y年%-m月%-d日" }}</p>
    {% endif %}
  </div>
  </a>
</div>
