<div class="">
  {% if page.next or page.previous %}
  <hr>
  {% endif %}
  {% if page.next %}
  <div class="">
    <p>次の投稿</p>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ page.next..date | date: date_format }}</span>
    <h3><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a></h3>
  </div>
  {% endif %}
  {% if page.previous %}
  <div class="">
    <p>前の投稿</p>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ page.previous.date | date: date_format }}</span>
    <h3><a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a></h3>
  </div>
  {% endif %}
</div>
