{% if page.tags %}
{% capture taglist %}
{% for tag in page.tags %}
{{ tag }},
{% endfor %}
{% endcapture %}
{% endif %}

<div class="post-share-top">
  <p>SHARE</p>
  <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}&text={{ page.title }}&hashtags={{ taglist }}" rel="nofollow" target="_blank"><i class="fab fa-twitter-square"></i></a>
  <a href="http://www.facebook.com/share.php?u=https://shoyaiwana.me{{ page.url }}" rel="nofollow" target="_blank"><i class="fab fa-facebook-square"></i></a>
</div>
