<div class="">
  <h2>Related articles</h2>
  {% for tag in page.tags %}
  {% assign loop = site.tags.[tag] %}
  {% assign lim = 4 %}
  {% assign lim2 = 0 %}
  {% for post in loop limit:lim %}
  {% if forloop.length < 4 %}
  {% assign lim2 = 4 | minus:forloop.length %}
  {% endif %}
  {% if post != page %}
  {% include linkyokonaga.html post = post %}
  {% endif %}
  {% endfor %}
  {% for post in site.posts limit:lim2 %}
  {% include linkyokonaga.html post = post %}
  {% endfor %}
  {% endfor %}
</div>
