<div class="">
  <div class="inpostads_container">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- iwanaサイド固定 -->
    <ins class="adsbygoogle"
     style="display:inline-block;width:240px;height:600px"
     data-ad-client="ca-pub-6368943295713902"
     data-ad-slot="8202343634"></ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <h3>最近の記事</h3>
  {% for post in site.posts limit:10 %}
  <div class="side_post_recent">
    <a href="{{ post.url }}">
      <p><strong>{{ post.title }}</strong></p>
    </a>
  </div>
  {% endfor %}
  {% include taglist.html %}
</div>
<div class="inpostads_container sideads_sticky">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- iwanaサイド固定 -->
  <ins class="adsbygoogle"
   style="display:inline-block;width:240px;height:600px"
   data-ad-client="ca-pub-6368943295713902"
   data-ad-slot="8202343634"></ins>
  <script>
   (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
