
body{
  background-color: #f9f9f9;
  font-family: "Avenir Next", Helvetica, Arial, "Hiragino Kaku Gothic ProN", YuGothic, sans-serif;
  color: black;
}

p{
  font-size: 1rem;

}

h1, h2, h3, h4, h5, h6{
  font-family: "Century Gothic", "Hiragino Kaku Gothic ProN", YuGothic, sans-serif;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
  margin-top: 70px;
}
@media (max-width: 800px) {
  h2{
    font-size: 1.8rem;
  }
}

h3{
  font-size: 1.5rem;
}

hr{
  margin: 30px 0;
}

a{
  color: #4169e1;
}
a:visited{
  color: #4169e1;
}
a:hover{
  color: #9969e1;
  text-decoration: none;
}

a img:hover{
  opacity: .5;
  transition: .5s;
}

code{
  background-color: #dddddd;
}

.site-nav{
  background-color: transparent;
}

.site-title{
  font-family: Avenir Next, YuGothic, sans-serif;
  font-weight: 200;
  font-size: 20px;
}
.site-title:hover{
  text-decoration: none;
}

.site-header{
  border-top: 0px;
  border-bottom: 0px;
}

.post-list-heading{
  font-size: 40px;
}

.post-title{
  line-height: normal;
}

.post h1{
  font-size: 28px;
  padding: 24px;
  background-color: #4169e1cc;
  color: white;
  text-align: justify;
}

@media (max-width: 700px){
  .post h1{
    font-size: 30px;
    padding: 15px;
  }
}

.post h2{
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  /*background-color: #f0f8ff;
  border-bottom: solid 2px #4169e1;
  border-top: solid 2px #eeeeee;*/
}

.post h2:before {
  content: '';
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(/assets/images/iwana.png);
  background-size: contain;
  vertical-align: middle;
  background-position: left;
  background-repeat: no-repeat;
}

.page-heading::before {
  content: '';
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(/assets/images/iwana.png);
  background-size: contain;
  vertical-align: middle;
  background-position: left;
  background-repeat: no-repeat;
}

.post h3 {
  margin-top: 80px;
  margin-bottom: 30px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

.post h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-top: solid 4px #5472cd;
  top: -10px;
  width: 10%;
}

.post p{
  line-height: 1.7;
}

.post hr{
  margin: 50px 0;
}

@media screen and (min-width: 800px){
  .wrapper{
    max-width: 1000px;
  }
}

.page-wrapper{
  float: left;
  width: calc(100% - 300px);
  background-color: #ffffff;
}
@media (max-width: 800px) {
  .page-wrapper{
    float: none;
    width: 100%;
  }
}
.page-inner{
  padding: 0 10px;
}
.page-inner-featured{
  margin: 30px auto;
  padding: 50px 20px;
  background-color: black;
  color: white;
}
.page-inner-featured h2{
  font-weight: bold;
  margin-top: 0;
}

.page-inner-featured h3{
  font-weight: bold;
  margin-top: 0;
}
.page-inner-featured a, .page-inner-featured a:visited{
  color: #f0ffff;
}
.page-inner-featured a:hover{
  color: #e6e6fa;
}


.post-wrapper{
  float: left;
  width: calc(100% - 300px);
}
.side-wrapper{
  display: block;
  float: left;
  width: 300px;
}
@media (max-width: 800px) {
  .post-wrapper{
    float: none;
    width: 100%;
  }
  .side-wrapper{
    display: none;
  }
}

.side-inner{
  padding: 0 20px;
}

.col-70{
  padding: 10px;
  width: calc(70% - 20px);
  float: left;
}
.col-60{
  padding: 10px;
  width: calc(60% - 20px);
  float: left;
}
.col-55-100{
  padding: 10px;
  width: calc(55% - 20px);
  float: left;
}
@media (max-width: 800px) {
  .col-55-100{
    width: calc(100% - 20px);
  }
}
.col-50{
  padding: 10px;
  width: calc(50% - 20px);
  float: left;
}
.col-50-50-100{
  width: 50%;
  float: left;
}
@media (max-width: 1000px) {
  .col-50-50-100{
    width: 100%;
  }
}
.col-45-100{
  padding: 10px;
  width: calc(45% - 20px);
  float: left;
}
@media (max-width: 800px) {
  .col-45-100{
    width: calc(100% - 20px);
  }
}
.col-40{
  padding: 10px;
  width: calc(40% - 20px);
  float: left;
}
.col-30{
  padding: 10px;
  width: calc(30% - 20px);
  float: left;
}

.col-25-50{
  padding: 10px;
  width: calc(25% - 20px);
  float: left;
}

@media (max-width: 800px) {
  .col-25-50{
    padding: 10px;
    width: calc(50% - 20px);
    float: left;
  }
}

.card-y{
  border: solid 1px #dddddd;
  margin: 20px 0;
  padding: 10px;
}

p.card-y-title{
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 0;
  line-height: 1.2;
  color: #000000;
}
p.card-y-description{
  font-size: 14px;
  margin: 0;
  line-height: 1.2;
  color: #000000;
}

@media (max-width: 700px) {
  p.card-y-description{
    display: none;
  }
}
p.card-y-date{
  font-size: 12px;
  margin: 5px 0;
  line-height: 1;
  color: #999999;
}

p.card-y-host{
  color: gray;
  font-weight: bold;
  font-style: italic;
  padding-left: 10px;
  position: relative;
}

p.card-y-host:after{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0px;
  border-top: solid 1px;
  border-right: solid 1px;
  transform: rotate(45deg) translateY(-50%);
  color: gray;
}

.card-y a:hover p{
  color: #4169e1;
}

.card-sm-title{
  font-size: 0.8rem;
}

.home_top_post h2{
  font-weight: bold;
  font-size: 36px;
  margin: 10px auto;
}
.home_top_post img{
  width: 100%;
}
.home_top_post_title{
  padding: 0 20px;
}

.home .post-list-heading{
  text-align: center;
}

.footer-heading{
  margin: 0 10px 10px 0px;
}

.highlighter-rouge .highlight{
  background-color: #dddddd;
}




.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
