<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="inpostads_container">
          {% include inpostads.html %}
        </div>
      </div>
      {{ content }}
    </main>

    <div class="wrapper">
      {% include recommend.html %}
    </div>


    {%- include footer.html -%}

  </body>

</html>
